In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
credits = pd.read_csv('credits.csv')
credits.head()

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862

[5 rows x 3 columns]

In [3]:
meta = pd.read_csv('movies_metadata.csv')
meta.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [4]:
meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [5]:
meta.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [6]:
# errors='coerce', then invalid parsing will be set as NaN
meta['release_date'] = pd.to_datetime(meta['release_date'], errors='coerce')

In [7]:
meta['release_date'].head()

0   1995-10-30
1   1995-12-15
2   1995-12-22
3   1995-12-22
4   1995-02-10
Name: release_date, dtype: datetime64[ns]

In [8]:
# Here we only need release year
meta['year']=meta['release_date'].dt.year

In [9]:
meta['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [10]:
meta.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'year'],
      dtype='object')

In [11]:
# We are here getting only 2017 movies, as we already have movies upto the year 2016 in preprocessing_1 file
new_meta = meta.loc[meta['year'] == 2017, ['genres','id','title','year']]

In [12]:
new_meta.head()

                                                  genres  ...    year
26560  [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...  ...  2017.0
26561  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0
26565  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0
26566  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0
30536  [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...  ...  2017.0

[5 rows x 4 columns]

In [13]:
new_meta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 532 entries, 26560 to 45465
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   genres  532 non-null    object
 1   id      532 non-null    object
 2   title   532 non-null    object
 3   year    532 non-null    float64
dtypes: float64(1), object(3)
memory usage: 20.8+ KB

In [14]:
new_meta['id']=new_meta['id'].astype(int)

In [15]:
data = pd.merge(new_meta, credits, on='id')

In [17]:
data.head()

                                              genres  ...                                               crew
0  [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...  ...  [{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...
1  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  [{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...
2  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  [{'credit_id': '56a93fa4c3a36872db001e7a', 'de...
3  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  [{'credit_id': '59171547925141583c0315a6', 'de...
4  [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...  ...  [{'credit_id': '5431de49c3a36825d300007e', 'de...

[5 rows x 6 columns]

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 531 entries, 0 to 530
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   genres  531 non-null    object
 1   id      531 non-null    int64
 2   title   531 non-null    object
 3   year    531 non-null    float64
 4   cast    531 non-null    object
 5   crew    531 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 29.0+ KB

In [20]:
# Evaluating an expression node or a string containing a Pythan literal or container display
import ast
data['genres']=data['genres'].map(lambda x: ast.literal_eval(x))
data['cast']=data['cast'].map(lambda x: ast.literal_eval(x))
data['crew']=data['crew'].map(lambda x: ast.literal_eval(x))

In [29]:
data['genres']

0      [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
1      [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
2      [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
3      [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
4      [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...
                             ...
526    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
527    [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
528    [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
529    [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
530                                                   []
Name: genres, Length: 531, dtype: object

In [30]:
def make_genresList(x):
  gen = []
  st = " "
  for i in x:
    if i.get('name') == 'Science Fiction':
      scifi = 'Sci-Fi'
      gen.append(scifi)
    else:
      gen.append(i.get('name'))
  if gen == []:
    return np.NaN
  else:
    return (st.join(gen))

In [31]:
data['genres_list'] = data['genres'].map(lambda x: make_genresList(x))

In [32]:
data['genres_list']

0      Adventure Action Fantasy Comedy
1      Action Adventure Fantasy Sci-Fi
2      Action Adventure Fantasy Sci-Fi
3       Action Adventure Comedy Sci-Fi
4             Fantasy Action Adventure
                    ...
526                     Romance Comedy
527         Crime Comedy Action Family
528    Family Animation Romance Comedy
529               Crime Drama Thriller
530                                NaN
Name: genres_list, Length: 531, dtype: object

In [33]:
data['cast']

0      [{'cast_id': 1, 'character': 'Captain Jack Spa...
1      [{'cast_id': 2, 'character': 'Bruce Wayne / Ba...
2      [{'cast_id': 0, 'character': 'Thor Odinson', '...
3      [{'cast_id': 3, 'character': 'Peter Quill / St...
4      [{'cast_id': 0, 'character': 'King Louis XIV',...
                             ...
526    [{'cast_id': 0, 'character': 'Satu', 'credit_i...
527    [{'cast_id': 0, 'character': 'Detective Simmon...
528                                                   []
529    [{'cast_id': 1, 'character': 'Devki Sabarwal',...
530                                                   []
Name: cast, Length: 531, dtype: object

In [34]:
def get_actor1(x):
  casts = []
  for i in x:
    casts.append(i.get('name'))
  if casts == []:
    return np.NaN
  else:
    return (casts[0])

In [35]:
data['actor_1_name'] = data['cast'].map(lambda x: get_actor1(x))

In [36]:
data['actor_1_name']

0               Johnny Depp
1               Ben Affleck
2           Chris Hemsworth
3               Chris Pratt
4            Pierce Brosnan
               ...
526          Inka Haapamki
527    Lou Diamond Phillips
528                     NaN
529          Sridevi Kapoor
530                     NaN
Name: actor_1_name, Length: 531, dtype: object

In [39]:
def get_actor2(x):
  casts = []
  for i in x:
    casts.append(i.get('name'))
  if casts == [] or len(casts)<=1:
    return np.NaN
  else:
    return (casts[1])

In [40]:
data['actor_2_name'] = data['cast'].map(lambda x: get_actor2(x))

In [41]:
data['actor_2_name']

0       Javier Bardem
1        Henry Cavill
2      Tom Hiddleston
3         Zoe Saldana
4        William Hurt
            ...
526     Rosa Honkonen
527     Wallace Shawn
528               NaN
529         Sajal Ali
530               NaN
Name: actor_2_name, Length: 531, dtype: object

In [42]:
def get_actor3(x):
  casts = []
  for i in x:
    casts.append(i.get('name'))
  if casts == [] or len(casts)<=2:
    return np.NaN
  else:
    return (casts[2])

In [43]:
data['actor_3_name'] = data['cast'].map(lambda x: get_actor3(x))

In [44]:
data['actor_3_name']

0        Geoffrey Rush
1            Gal Gadot
2       Cate Blanchett
3        Dave Bautista
4      Benjamin Walker
            ...
526     Tiitus Rantala
527        Gina Holden
528                NaN
529     Akshaye Khanna
530                NaN
Name: actor_3_name, Length: 531, dtype: object

In [45]:
data['crew']

0      [{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...
1      [{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...
2      [{'credit_id': '56a93fa4c3a36872db001e7a', 'de...
3      [{'credit_id': '59171547925141583c0315a6', 'de...
4      [{'credit_id': '5431de49c3a36825d300007e', 'de...
                             ...
526    [{'credit_id': '597e22f69251415d7801c74a', 'de...
527    [{'credit_id': '593ba0c29251410593009be3', 'de...
528    [{'credit_id': '5981a15c92514151e0011b51', 'de...
529    [{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...
530    [{'credit_id': '593e676c92514105b702e68e', 'de...
Name: crew, Length: 531, dtype: object

In [48]:
def get_directors(x):
  dt = []
  st = " "
  for i in x:
    if i.get('job') == 'Director':
      dt.append(i.get('name'))
  if dt == []:
    return np.NaN
  else:
    return (st.join(dt))

In [49]:
data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [50]:
data['director_name']

0      Joachim Rnning Espen Sandberg
1                         Zack Snyder
2                       Taika Waititi
3                          James Gunn
4                       Sean McNamara
                    ...
526                  Hannaleena Hauru
527             Jonathan A. Rosenbaum
528          Beth David Esteban Bravo
529                      Ravi Udyawar
530                     Daisy Asquith
Name: director_name, Length: 531, dtype: object

In [51]:
movie = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','title']]

In [53]:
movie.head()

                    director_name  ...                                             title
0  Joachim Rnning Espen Sandberg  ...  Pirates of the Caribbean: Dead Men Tell No Tales
1                     Zack Snyder  ...                                    Justice League
2                   Taika Waititi  ...                                    Thor: Ragnarok
3                      James Gunn  ...                    Guardians of the Galaxy Vol. 2
4                   Sean McNamara  ...                               The King's Daughter

[5 rows x 6 columns]

In [56]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 531 entries, 0 to 530
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   director_name  527 non-null    object
 1   actor_1_name   509 non-null    object
 2   actor_2_name   476 non-null    object
 3   actor_3_name   461 non-null    object
 4   genres_list    524 non-null    object
 5   title          531 non-null    object
dtypes: object(6)
memory usage: 29.0+ KB

In [55]:
movie.isnull().sum()

director_name     4
actor_1_name     22
actor_2_name     55
actor_3_name     70
genres_list       7
title             0
dtype: int64

In [57]:
movie = movie.dropna(how='any')

In [58]:
movie.isnull().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres_list      0
title            0
dtype: int64

In [59]:
movie = movie.rename(columns={'genres_list':'genres'})
movie = movie.rename(columns={'title':'movie_title'})

In [60]:
movie['movie_title'] = movie['movie_title'].str.lower()

In [61]:
movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' ' + movie['actor_3_name'] + ' ' + movie['director_name'] + ' ' + movie['genres']

In [62]:
movie.head()

                    director_name  ...                                               comb
0  Joachim Rnning Espen Sandberg  ...  Johnny Depp Javier Bardem Geoffrey Rush Joachi...
1                     Zack Snyder  ...  Ben Affleck Henry Cavill Gal Gadot Zack Snyder...
2                   Taika Waititi  ...  Chris Hemsworth Tom Hiddleston Cate Blanchett ...
3                      James Gunn  ...  Chris Pratt Zoe Saldana Dave Bautista James Gu...
4                   Sean McNamara  ...  Pierce Brosnan William Hurt Benjamin Walker Se...

[5 rows x 7 columns]

In [63]:
old = pd.read_csv('/content/drive/MyDrive/Machine Learning End to End Projects/Movies_Recommendation_System_with_Sentiment_Analysis/Movie_Recommendation_System_with_Sentiment_Analysis/datasets/data.csv')

In [64]:
old.head()

       director_name  ...                                        movie_title
0      James Cameron  ...                                             avatar
1     Gore Verbinski  ...           pirates of the caribbean: at world's end
2         Sam Mendes  ...                                            spectre
3  Christopher Nolan  ...                              the dark knight rises
4        Doug Walker  ...  star wars: episode vii - the force awakens   ...

[5 rows x 6 columns]

In [65]:
old['comb'] = old['actor_1_name'] + ' ' + old['actor_2_name'] + ' ' + old['actor_3_name'] + ' ' + old['director_name'] + ' ' + old['genres']

In [67]:
old.head()

       director_name  ...                                               comb
0      James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1     Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2         Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3  Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4        Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...

[5 rows x 7 columns]

In [68]:
new = old.append(movie)

In [70]:
new.head()

       director_name  ...                                               comb
0      James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1     Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2         Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3  Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4        Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...

[5 rows x 7 columns]

In [71]:
new.drop_duplicates(subset ='movie_title', keep= 'last', inplace=True)

In [72]:
new.head()

       director_name  ...                                               comb
0      James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1     Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2         Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3  Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4        Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...

[5 rows x 7 columns]

In [73]:
new.to_csv('new_data.csv', index=False)