In [2]:
import pandas as pd
import numpy as np
import requests
import urllib.request
import bs4 as bs

## Extracting fratures  of movies 2020 from Wikipedia

In [5]:
link = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2020'

In [8]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [9]:
tables = soup.find_all('table',class_='wikitable sortable')

In [10]:
len(tables)

4

In [12]:
type(tables[0])

bs4.element.Tag

In [15]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoid valueerror: invalid literal for int() with base 10: '1"'

In [16]:
df = df1.append(df2.append(df3.append(df4, ignore_index=True),ignore_index=True),ignore_index=True)

In [18]:
df

      Opening  ...   Ref.
0     JANUARY  ...    NaN
1     JANUARY  ...    NaN
2     JANUARY  ...    NaN
3     JANUARY  ...    NaN
4     JANUARY  ...    NaN
..        ...  ...    ...
269  DECEMBER  ...  [241]
270  DECEMBER  ...  [242]
271  DECEMBER  ...  [243]
272  DECEMBER  ...  [244]
273  DECEMBER  ...  [245]

[274 rows x 7 columns]

In [19]:
df_2020 = df[['Title','Cast and crew']]
df_2020

                     Title                                      Cast and crew
0               The Grudge  Nicolas Pesce (director/screenplay); Andrea Ri...
1               Underwater  William Eubank (director); Brian Duffield, Ada...
2              Like a Boss  Miguel Arteta (director); Sam Pitman, Adam Col...
3            Three Christs  Jon Avnet (director/screenplay); Eric Nazarian...
4        Inherit the Viper  Anthony Jerjen (director); Andrew Crabtree (sc...
..                     ...                                                ...
269       We Can Be Heroes  Robert Rodriguez (director/screenplay); Priyan...
270      News of the World  Paul Greengrass (director/screenplay); Luke Da...
271  One Night in Miami...  Regina King (director); Kemp Powers (screenpla...
272  Promising Young Woman  Emerald Fennell (director/screenplay); Carey M...
273      Pieces of a Woman  Kornél Mundruczó (director); Kata Wéber (scree...

[274 rows x 2 columns]

In [20]:
!pip install tmdbv3api

Collecting tmdbv3api
  Downloading tmdbv3api-1.7.6-py2.py3-none-any.whl (17 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2021.10.8)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.6

In [21]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'bce8b94968a79cd90c7d3cbe5005203b'

In [24]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genres(x):
  genres = []
  result = tmdb_movie.search(x)
  if not result:
    return np.NaN
  else:
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['genres']:
      genre_str = " "
      for i in range(0, len(data_json['genres'])):
        genres.append(data_json['genres'][i]['name'])
      return genre_str.join(genres)
    else:
      return np.NaN

In [25]:
df_2020['genres'] = df_2020['Title'].map(lambda x: get_genres(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
df_2020

                     Title  ...                                  genres
0               The Grudge  ...                 Horror Mystery Thriller
1               Underwater  ...  Action Horror Science Fiction Thriller
2              Like a Boss  ...                                  Comedy
3            Three Christs  ...                                   Drama
4        Inherit the Viper  ...                    Crime Thriller Drama
..                     ...  ...                                     ...
269       We Can Be Heroes  ...            Action Fantasy Family Comedy
270      News of the World  ...                       Adventure Western
271  One Night in Miami...  ...                                   Drama
272  Promising Young Woman  ...                    Thriller Crime Drama
273      Pieces of a Woman  ...                                   Drama

[274 rows x 3 columns]

In [28]:
df_2020['Cast and crew']

0      Nicolas Pesce (director/screenplay); Andrea Ri...
1      William Eubank (director); Brian Duffield, Ada...
2      Miguel Arteta (director); Sam Pitman, Adam Col...
3      Jon Avnet (director/screenplay); Eric Nazarian...
4      Anthony Jerjen (director); Andrew Crabtree (sc...
                             ...
269    Robert Rodriguez (director/screenplay); Priyan...
270    Paul Greengrass (director/screenplay); Luke Da...
271    Regina King (director); Kemp Powers (screenpla...
272    Emerald Fennell (director/screenplay); Carey M...
273    Kornél Mundruczó (director); Kata Wéber (scree...
Name: Cast and crew, Length: 274, dtype: object

In [29]:
def get_director(x):
  if " (director)" in x:
    return x.split(" (director)")[0]
  elif " (directors)" in x:
    return x.split(" (director)")[0]
  else:
    return x.split(" (director/screenplay)")[0]

In [31]:
df_2020['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
df_2020['Cast and crew'][2]

'Miguel Arteta (director); Sam Pitman, Adam Cole-Kelly (screenplay); Tiffany Haddish, Rose Byrne, Salma Hayek, Jennifer Coolidge, Billy Porter'

In [37]:
def get_actor1(x):
  return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [38]:
df_2020['actor_1_name'] = df_2020['Cast and crew'].map(lambda x: get_actor1(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
df_2020['actor_1_name'][2]

'Tiffany Haddish'

In [42]:
df_2020['Cast and crew'][1]

'William Eubank (director); Brian Duffield, Adam Cozad (screenplay); Kristen Stewart, Vincent Cassel, Jessica Henwick, John Gallagher Jr., Mamoudou Athie, T.J. Miller'

In [43]:
def get_actor2(x):
  if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
    return np.NaN
  else:
    return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [44]:
df_2020['actor_2_name'] = df_2020['Cast and crew'].map(lambda x: get_actor2(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
df_2020['Cast and crew'][1]

'William Eubank (director); Brian Duffield, Adam Cozad (screenplay); Kristen Stewart, Vincent Cassel, Jessica Henwick, John Gallagher Jr., Mamoudou Athie, T.J. Miller'

In [47]:
def get_actor3(x):
  if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
    return np.NaN
  else:
    return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [48]:
df_2020['actor_3_name'] = df_2020['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [49]:
df_2020

                     Title  ...     actor_3_name
0               The Grudge  ...         John Cho
1               Underwater  ...  Jessica Henwick
2              Like a Boss  ...      Salma Hayek
3            Three Christs  ...   Walton Goggins
4        Inherit the Viper  ...   Chandler Riggs
..                     ...  ...              ...
269       We Can Be Heroes  ...    YaYa Gosselin
270      News of the World  ...              NaN
271  One Night in Miami...  ...      Aldis Hodge
272  Promising Young Woman  ...      Alison Brie
273      Pieces of a Woman  ...     Molly Parker

[274 rows x 7 columns]

In [50]:
df_2020 = df_2020.rename(columns={'Title':'movie_title'})

In [52]:
new_df20 = df_2020.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [53]:
new_df20

        director_name  ...            movie_title
0       Nicolas Pesce  ...             The Grudge
1      William Eubank  ...             Underwater
2       Miguel Arteta  ...            Like a Boss
3           Jon Avnet  ...          Three Christs
4      Anthony Jerjen  ...      Inherit the Viper
..                ...  ...                    ...
269  Robert Rodriguez  ...       We Can Be Heroes
270   Paul Greengrass  ...      News of the World
271       Regina King  ...  One Night in Miami...
272   Emerald Fennell  ...  Promising Young Woman
273  Kornél Mundruczó  ...      Pieces of a Woman

[274 rows x 6 columns]

In [54]:
new_df20['comb'] = new_df20['actor_1_name'] + ' ' + new_df20['actor_2_name'] + ' '+ new_df20['actor_3_name'] + ' '+ new_df20['director_name'] +' ' + new_df20['genres']

In [55]:
new_df20.isnull().sum()

director_name     0
actor_1_name      0
actor_2_name      4
actor_3_name     27
genres            1
movie_title       0
comb             28
dtype: int64

In [56]:
new_df20 = new_df20.dropna(how='any')

In [57]:
new_df20.isnull().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [58]:
new_df20['movie_title'] = new_df20['movie_title'].str.lower()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [59]:
new_df20

        director_name  ...                                               comb
0       Nicolas Pesce  ...  Andrea Riseborough Demián Bichir John Cho Nico...
1      William Eubank  ...  Kristen Stewart Vincent Cassel Jessica Henwick...
2       Miguel Arteta  ...  Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
3           Jon Avnet  ...  Richard Gere Peter Dinklage Walton Goggins Jon...
4      Anthony Jerjen  ...  Josh Hartnett Margarita Levieva Chandler Riggs...
..                ...  ...                                                ...
268       Pete Docter  ...  Jamie Foxx Tina Fey Graham Norton Pete Docter ...
269  Robert Rodriguez  ...  Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
271       Regina King  ...  Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
272   Emerald Fennell  ...  Carey Mulligan Bo Burnham Alison Brie Emerald ...
273  Kornél Mundruczó  ...  Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

[246 rows x 7 columns]

In [60]:
old_df = pd.read_csv('final_data.csv')
old_df

               director_name  ...                                               comb
0              James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1             Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2                 Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3          Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4                Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                      ...  ...                                                ...
5871  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
5872            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
5873              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
5874   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
5875         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[5876 rows x 7 columns]

In [61]:
final_df = old_df.append(new_df20,ignore_index=True)

In [62]:
final_df

          director_name  ...                                               comb
0         James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1        Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2            Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3     Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4           Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                 ...  ...                                                ...
6117        Pete Docter  ...  Jamie Foxx Tina Fey Graham Norton Pete Docter ...
6118   Robert Rodriguez  ...  Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
6119        Regina King  ...  Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
6120    Emerald Fennell  ...  Carey Mulligan Bo Burnham Alison Brie Emerald ...
6121   Kornél Mundruczó  ...  Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

[6122 rows x 7 columns]

In [63]:
final_df.to_csv('main_data.csv', index=False)