## Extracting Features of 2018 movies from Wikipedia

In [1]:
import pandas as pd
import numpy as np

In [7]:
link = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2018'
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [9]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [10]:
df.head()

   Opening  ...  Ref.
0  JANUARY  ...   NaN
1  JANUARY  ...   NaN
2  JANUARY  ...   NaN
3  JANUARY  ...   NaN
4  JANUARY  ...   NaN

[5 rows x 7 columns]

In [11]:
!pip install tmdbv3api

Collecting tmdbv3api
  Downloading tmdbv3api-1.7.6-py2.py3-none-any.whl (17 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.6

In [12]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'bce8b94968a79cd90c7d3cbe5005203b'

In [13]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
  genres = []
  result = tmdb_movie.search(x)
  movie_id = result[0].id
  response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
  data_json = response.json()
  if data_json['genres']:
    genre_str = " "
    for i in range(0,len(data_json['genres'])):
      genres.append(data_json['genres'][i]['name'])
    return genre_str.join(genres)
  else:
    np.NaN

In [14]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [15]:
df.head()

   Opening  Opening.1  ... Ref.                   genres
0  JANUARY          5  ...  NaN  Horror Mystery Thriller
1  JANUARY          5  ...  NaN           Thriller Drama
2  JANUARY          5  ...  NaN          Action Thriller
3  JANUARY         10  ...  NaN    Drama History Western
4  JANUARY         12  ...  NaN  Action Thriller Mystery

[5 rows x 8 columns]

In [16]:
df_2018 = df[['Title', 'Cast and crew', 'genres']]

In [17]:
df_2018.head()

                     Title  ...                   genres
0  Insidious: The Last Key  ...  Horror Mystery Thriller
1         The Strange Ones  ...           Thriller Drama
2                 Stratton  ...          Action Thriller
3            Sweet Country  ...    Drama History Western
4             The Commuter  ...  Action Thriller Mystery

[5 rows x 3 columns]

In [18]:
def get_director(x):
  if " (director)" in x:
    return x.split(" (director)")[0]
  elif " (directors)" in x:
    return x.split("  (directors)")[0]
  else:
    return x.split("  (director/screenplay)")[0]

In [19]:
df_2018['director_name'] = df_2018['Cast and crew'].map(lambda x: get_director(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
df_2018['Cast and crew'][1]

'Lauren Wolkstein (director); Christopher Radcliff (co-director/screenplay); Alex Pettyfer, James Freedson-Jackson, Emily Althaus, Gene Jones, Owen Campbell, Tobias Campbell'

In [24]:
def get_actor1(x):
  return ((x.split("screenplay);")[-1]).split(", ")[0])

In [25]:
df_2018['actor_1_name'] = df_2018['Cast and crew'].map(lambda x: get_actor1(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
def get_actor2(x):
  if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
    return np.NaN
  else:
    return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [27]:
df_2018['actor_2_name'] = df_2018['Cast and crew'].map(lambda x: get_actor2(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [41]:
df_2018['Cast and crew'][1]

'Lauren Wolkstein (director); Christopher Radcliff (co-director/screenplay); Alex Pettyfer, James Freedson-Jackson, Emily Althaus, Gene Jones, Owen Campbell, Tobias Campbell'

In [37]:
def get_actor3(x):
  if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
    return np.NaN
  else:
    return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [38]:
df_2018['actor_3_name'] = df_2018['Cast and crew'].map(lambda x: get_actor3(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
df_2018.head()

                     Title  ...    actor_3_name
0  Insidious: The Last Key  ...  Leigh Whannell
1         The Strange Ones  ...   Emily Althaus
2                 Stratton  ...      Gemma Chan
3            Sweet Country  ...             NaN
4             The Commuter  ...  Patrick Wilson

[5 rows x 7 columns]

In [42]:
df_2018 = df_2018.rename(columns={'Title':'movie_title'})

In [43]:
new_df18 = df_2018.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [45]:
new_df18.head()

        director_name  ...              movie_title
0        Adam Robitel  ...  Insidious: The Last Key
1    Lauren Wolkstein  ...         The Strange Ones
2          Simon West  ...                 Stratton
3    Warwick Thornton  ...            Sweet Country
4  Jaume Collet-Serra  ...             The Commuter

[5 rows x 6 columns]

In [46]:
new_df18.isnull().sum()

director_name     0
actor_1_name      0
actor_2_name     10
actor_3_name     27
genres            2
movie_title       0
dtype: int64

In [47]:
new_df18['actor_2_name'] = new_df18['actor_2_name'].replace(np.nan, 'unknown')
new_df18['actor_3_name'] = new_df18['actor_3_name'].replace(np.nan, 'unknown')

In [49]:
new_df18['movie_title'] = new_df18['movie_title'].str.lower()

In [50]:
new_df18['comb'] = new_df18['actor_1_name'] + ' ' + new_df18['actor_2_name'] + ' '+ new_df18['actor_3_name'] + ' '+ new_df18['director_name'] +' ' + new_df18['genres']

In [51]:
new_df18.head()

        director_name  ...                                               comb
0        Adam Robitel  ...   Lin Shaye Angus Sampson Leigh Whannell Adam R...
1    Lauren Wolkstein  ...   Alex Pettyfer James Freedson-Jackson Emily Al...
2          Simon West  ...   Dominic Cooper Austin Stowell Gemma Chan Simo...
3    Warwick Thornton  ...   Bryan Brown Sam Neill unknown Warwick Thornto...
4  Jaume Collet-Serra  ...   Liam Neeson Vera Farmiga Patrick Wilson Jaume...

[5 rows x 7 columns]

##Extracting Features of 2019 movies from Wikipedia

In [83]:
link = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2019'
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [84]:
df = df1.append(df2.append(df3.append(df4, ignore_index=True), ignore_index=True), ignore_index=True)

In [85]:
df.head()

   Opening  Opening.1  ...                                      Cast and crew Ref.
0  JANUARY          4  ...  Adam Robitel (director); Bragi F. Schut, Maria...  [2]
1  JANUARY          4  ...  Jen McGowan (director); Julie Lipson (screenpl...  [3]
2  JANUARY          4  ...  Wilson Coneybeare (director/screenplay); Donal...  [4]
3  JANUARY         11  ...  Charles Martin Smith (director); W. Bruce Came...  [5]
4  JANUARY         11  ...  Neil Burger (director); Jon Hartmere (screenpl...  [6]

[5 rows x 6 columns]

In [86]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [87]:
df_2019 = df[['Title', 'Cast and crew', 'genres']]

In [88]:
df_2019.head()

              Title  ...                   genres
0       Escape Room  ...  Horror Thriller Mystery
1        Rust Creek  ...           Thriller Drama
2  American Hangman  ...                 Thriller
3  A Dog's Way Home  ...   Drama Adventure Family
4        The Upside  ...             Comedy Drama

[5 rows x 3 columns]

In [89]:
df_2019['Cast and crew'][2]

'Wilson Coneybeare (director/screenplay); Donald Sutherland, Vincent Kartheiser, Oliver Dennis, Paul Braunstein'

In [90]:
def get_director(x):
  if " (director)" in x:
    return x.split(" (director)")[0]
  elif " (directors)" in x:
    return x.split(" (directors)")[0]
  else:
    return x.split(" (director/screenplay)")[0]

In [91]:
df_2019['director_name']=df_2019['Cast and crew'].map(lambda x: get_director(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [92]:
df_2019['Cast and crew'][1]

"Jen McGowan (director); Julie Lipson (screenplay); Hermione Corfield, Jay Paulson, Sean O'Bryan, Micah Hauptman"

In [93]:
def get_actor1(x):
  return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [94]:
df_2019['actor_1_name'] = df_2019['Cast and crew'].map(lambda x: get_actor1(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [95]:
df_2019['Cast and crew'][1]

"Jen McGowan (director); Julie Lipson (screenplay); Hermione Corfield, Jay Paulson, Sean O'Bryan, Micah Hauptman"

In [96]:
def get_actor2(x):
  if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
    return np.NaN
  else:
    return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [97]:
df_2019['actor_2_name'] = df_2019['Cast and crew'].map(lambda x: get_actor2(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [98]:
df_2019['Cast and crew'][1]

"Jen McGowan (director); Julie Lipson (screenplay); Hermione Corfield, Jay Paulson, Sean O'Bryan, Micah Hauptman"

In [99]:
def get_actor3(x):
  if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
    return np.NaN
  else:
    return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [100]:
df_2019['actor_3_name'] = df_2019['Cast and crew'].map(lambda x: get_actor3(x))

In [101]:
df_2019 = df_2019.rename(columns={'Title':'movie_title'})

In [102]:
new_df19 = df_2019.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [103]:
new_df19.head()

          director_name  ...       movie_title
0          Adam Robitel  ...       Escape Room
1           Jen McGowan  ...        Rust Creek
2     Wilson Coneybeare  ...  American Hangman
3  Charles Martin Smith  ...  A Dog's Way Home
4           Neil Burger  ...        The Upside

[5 rows x 6 columns]

In [104]:
new_df19.isnull().sum()

director_name     0
actor_1_name      0
actor_2_name      1
actor_3_name     15
genres            0
movie_title       0
dtype: int64

In [106]:
new_df19['actor_2_name'] = new_df19['actor_2_name'].replace(np.nan, 'unknown')
new_df19['actor_3_name'] = new_df19['actor_3_name'].replace(np.nan, 'unknown')

In [107]:
new_df19['movie_title'] = new_df19['movie_title'].str.lower()

In [108]:
new_df19['comb'] = new_df19['actor_1_name'] + ' ' + new_df19['actor_2_name'] + ' '+ new_df19['actor_3_name'] + ' '+ new_df19['director_name'] +' ' + new_df19['genres']

In [109]:
new_df19.head()

          director_name  ...                                               comb
0          Adam Robitel  ...  Taylor Russell Logan Miller Deborah Ann Woll A...
1           Jen McGowan  ...  Hermione Corfield Jay Paulson Sean O'Bryan Jen...
2     Wilson Coneybeare  ...  Donald Sutherland Vincent Kartheiser Oliver De...
3  Charles Martin Smith  ...  Bryce Dallas Howard Edward James Olmos Alexand...
4           Neil Burger  ...  Bryan Cranston Kevin Hart Nicole Kidman Neil B...

[5 rows x 7 columns]

In [110]:
my_df = new_df18.append(new_df19,ignore_index=True)

In [111]:
my_df

              director_name  ...                                               comb
0              Adam Robitel  ...   Lin Shaye Angus Sampson Leigh Whannell Adam R...
1          Lauren Wolkstein  ...   Alex Pettyfer James Freedson-Jackson Emily Al...
2                Simon West  ...   Dominic Cooper Austin Stowell Gemma Chan Simo...
3          Warwick Thornton  ...   Bryan Brown Sam Neill unknown Warwick Thornto...
4        Jaume Collet-Serra  ...   Liam Neeson Vera Farmiga Patrick Wilson Jaume...
..                      ...  ...                                                ...
509  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
510            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
511              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
512   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
513         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[514 rows x 7 columns]

In [114]:
old_df = pd.read_csv('new_data.csv')
old_df

              director_name  ...                                               comb
0             James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1            Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2                Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3         Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4               Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                     ...  ...                                                ...
5359            Jim Strouse  ...  Jessica Williams Chris O'Dowd Keith Stanfield ...
5360            Farhad Mann  ...  Adelaide Kane Benjamin Hollingsworth Jean Loui...
5361       Hannaleena Hauru  ...  Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
5362  Jonathan A. Rosenbaum  ...  Lou Diamond Phillips Wallace Shawn Gina Holden...
5363           Ravi Udyawar  ...  Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

[5364 rows x 7 columns]

In [115]:
final_df = old_df.append(my_df, ignore_index=True)

In [116]:
final_df

               director_name  ...                                               comb
0              James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James C...
1             Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore ...
2                 Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman ...
3          Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4                Doug Walker  ...  Doug Walker Rob Walker unknown Doug Walker Doc...
...                      ...  ...                                                ...
5873  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
5874            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
5875              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
5876   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
5877         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[5878 rows x 7 columns]

In [117]:
final_df.isnull().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           2
movie_title      0
comb             2
dtype: int64

In [118]:
final_df = final_df.dropna(how='any')

In [119]:
final_df.isnull().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [120]:
final_df.to_csv('final_data.csv', index=False)